*{
    background-color:#f29bd3;
   	border: 0px;
}

main{
    font-size:35px;
    font-style:oblique;
}

.hope{
    color:#016d64;
    font-size:80px;
}
#kind{
    /*margin-top:90px;*/
    width:20%;
}

#slide{
    width:15%;
}
#joke{
    text-align:center;
    margin:auto;
    /*font:center;*/
    font-size:80px;
    font-style:oblique;
}

p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

#color1{
    background-color:rgb(66, 25, 131); 
    color:#0ee20b
}

#color2{
    background-color:yellow;
    color:#e8670b;
}

#color3{
    background-color: seagreen;
    color:crimson;
}

q{
    font-style:italic;
    font-size:90px;
    text-align:center;
    margin:auto;
}
.pic{
    text-align:center;
    margin:25px 630px;
    padding: 15px; 15px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0, 0.9)
     
}
div{
    /*text-align:center;
    margin:auto;
    /*margin: 0 0 30px
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0, 0.9) */

}

#rd{
    color:blue;
    font-size:25px;
}

a:visited{
    color:blue;
}
a:hover{
    color:red;
}